.navbarContaier a {
    color: white !important;
    padding: 20px;
}
.navbarContaier a:hover {
    text-decoration: none;
}
.navbar-toggler-icon {
    color: #b33838;
    background-color: #ffffff;
    /* background: none; */
    border-radius: 5px;
}